<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UPCNETServiceCursoClasePortBinding" />
                <binding name="UPCNETServiceCursoAlumnoPortBinding" />
                <binding name="UPCNETServiceAdministradorPortBinding" />
                <binding name="UPCNETServiceAlumnoPortBinding" />
                <binding name="UPCNETServiceApoderadoPortBinding" />
                <binding name="UPCNETServiceCategoriaPortBinding" />
                <binding name="UPCNETServiceCicloPortBinding" />
                <binding name="UPCNETServiceCursoPortBinding" />
                <binding name="UPCNETServiceProfesorPortBinding" />
                <binding name="UPCNETServiceRecursoPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCursoClase"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceCursoClasePortBinding"
                contract="UPCNETServiceCursoClase.UPCNETServiceCursoClase"
                name="UPCNETServiceCursoClasePort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCursoAlumno"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceCursoAlumnoPortBinding"
                contract="UPCNETServiceCursoAlumno.UPCNETServiceCursoAlumno"
                name="UPCNETServiceCursoAlumnoPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceAdministrador"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceAdministradorPortBinding"
                contract="UPCNETServiceAdministrador.UPCNETServiceAdministrador"
                name="UPCNETServiceAdministradorPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceAlumno"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceAlumnoPortBinding"
                contract="UPCNETServiceAlumno.UPCNETServiceAlumno" name="UPCNETServiceAlumnoPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceApoderado"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceApoderadoPortBinding"
                contract="UPCNETServiceApoderado.UPCNETServiceApoderado" name="UPCNETServiceApoderadoPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCategoria"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceCategoriaPortBinding"
                contract="UPCNETServiceCategoria.UPCNETServiceCategoria" name="UPCNETServiceCategoriaPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCiclo"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceCicloPortBinding"
                contract="UPCNETServiceCiclo.UPCNETServiceCiclo" name="UPCNETServiceCicloPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCurso"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceCursoPortBinding"
                contract="UPCNETServiceCurso.UPCNETServiceCurso" name="UPCNETServiceCursoPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceProfesor"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceProfesorPortBinding"
                contract="UPCNETServiceProfesor.UPCNETServiceProfesor" name="UPCNETServiceProfesorPort" />
            <endpoint address="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceRecurso"
                binding="basicHttpBinding" bindingConfiguration="UPCNETServiceRecursoPortBinding"
                contract="UPCNETServiceRecurso.UPCNETServiceRecurso" name="UPCNETServiceRecursoPort" />
        </client>
    </system.serviceModel>
</configuration>